h1{
	color: red; 
	font-size: 50px;
	text-align: center;
}

h3{
	color: orange; 
	font-size: 30px;
	text-align: center;
}
h4{
	color: pink;
	font-size: 30px;
	text-align: center;
}
h5{
	color: black;
	font-size: 20px;
	text-align: center;
}
.big{
	color: green; 
	font-size: 20px;
}
#XL{
	color: pink; 
	font-size: 25px;
}

.nav-link{
	color: black;
	font-size: 25px;
}



body{
	background: #FFF0F5;
	color:#69707a;
	font-family: "open Sans", Arial, sans-serif;
}

strong{
	color: #222324;
}
.navbar{
	color: #FFB6C1;
}
.card {
  border-color: #ccc;
}

.card-title {
  color: #e16879;
  font-weight: 300;
}

.card-block small {
  float: right;
}
.btn {
  font-weight: 300;
}

.btn-primary {
  background: #e16879;
  border-color: #e16879;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}
.description {
  background-image: url("/pattern.png");
  background-repeat: repeat-x;
}